
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-wrapper {
    background-color: #f7f7f7;
    border: solid 1px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
    width: 400px;
    height: 335px;
    position: relative;
}

.form-field {
    margin: 10px 0;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
    font-weight: bold;
}

.submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position:absolute;
    bottom: 10px;
    right: 10px;
}

.cancel-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position:absolute;
    bottom: 10px;
    left: 10px;
}

.cancel-button:hover {
    background-color: #0056b3;
}

.submit-button:hover {
    background-color: #0056b3;
}

.select-container {
    max-width: 100%;
}

.select-options {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
