

.filters-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.order-buttons {
    padding: 10px;
    border: solid 1px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.order-buttons button {
    padding: 2px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 24px;
}

.order-buttons button:hover {
    background-color: #0056b3;
}

.select-container {
    border-radius: 5px;
}

.select-container select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.button-select-container {
    border-radius: 15px;
    border: solid 1px black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h6 {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;

}

.selectores {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}